@import "bootstrap-overrides";
@import "theme/velcro";

$primary-light: theme-color-level(primary, -10);
$primary-light-yiq: color-yiq($primary-light);

// makes available as variables in src .js files
// https://til.hashrocket.com/posts/sxbrscjuqu-share-scss-variables-with-javascript
:export {
  primary: $primary;
  primaryLight: $primary-light;
  primaryLightYiq: $primary-light-yiq;
  secondary: $secondary;
  danger: $danger;
  inputFocusBorderColor: $input-focus-border-color;
  inputFocusBoxShadow: $input-focus-box-shadow;
  textBody: $body-color;
  textMuted: $text-muted;
}
