/** Utility classes **/
.width-100 {
  width: 100%;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-0 {
  opacity: 0;
}

.border-transparent {
  border-color: transparent;
}

.no-border {
  border: 0 !important;
}

.no-border-radius-tl {
  border-top-left-radius: 0 !important;
}

.no-border-radius-tr {
  border-top-right-radius: 0 !important;
}

.no-border-radius-bl {
  border-bottom-left-radius: 0 !important;
}

.no-border-radius-br {
  border-bottom-right-radius: 0 !important;
}

.font-smaller {
  font-size: smaller;
}

.align-content-center {
  display: flex;
  align-content: center;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

/* Custom Velcro classes */

.main-container {
  max-width: 98%;
}

.editor-container {
  -moz-box-shadow:    -8px 8px 8px -2px #ccc;
  -webkit-box-shadow: -8px 8px 8px -2px #ccc;
  box-shadow:         -8px 8px 8px -2px #ccc;
}

.form-control::placeholder {
  opacity: 0.6;
}

.disable-div {
  pointer-events: none;
  opacity: 0.4;
}

.dropdown a.active {
  color: $white !important;
}

.main-content {
  min-width: 720px;
}

.mapping-table-min-w {
  min-width: 720px;
}

$mapping-table-row-height: 38px;
.mapping-table-resolve-editor {
  min-height: $mapping-table-row-height;
}

.mapping-table-row {
  min-height: $mapping-table-row-height;
  min-width: 720px;
}

/* list-group-item borders */
@mixin lgi-border-variant($state, $color) {
  .border-lgi-#{$state} {
    border: 1px solid $color;
  }
}
@each $color, $value in $theme-colors {
  @include lgi-border-variant($color, theme-color-level($color, -9));
}

.table-picker {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.table-picker .nav-link {
  height: 100%;
}

.transform-loading {
  height: 300px;
}

$mapping-table-filter-label-height: 24px;
.mapping-table-filter-label {
  line-height: $mapping-table-filter-label-height;
  max-height: $mapping-table-filter-label-height;
  overflow-x: hidden;
}
.mapping-table-filter-label i {
  line-height: $mapping-table-filter-label-height;
  color: $gray-600;
}

.scroll-top-btn {
  position: fixed;
  right: 5%;
  bottom: 60px;
}

.qc-test-row {
  min-height: 56px;
}

.grab {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-cursor-pointer {
  &:hover {
    @extend .cursor-pointer;
  }
}

.cursor-help {
  cursor: help;
}

.action-bar {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.4);
  .action-bar-item {
    line-height: 38px;
  }
}

.qc-report-summary {
  width: 18rem;
}

.filter-action-input {
  width: 33vw;
  padding-top: 2px;
}

/* hover background colours */
@mixin background-hover($state, $color) {
  .bg-hover-#{$state} {
    background-color: $color;
  }
}
@each $color, $value in $theme-colors {
  @include background-hover($color, theme-color-level($color, -10));
}

.card-dropdown-heading,
.qc-report-test-heading {
  &:hover {
    @extend .bg-hover-secondary;
    @extend .cursor-pointer;
  }
}

html { scroll-behavior: smooth };

.transform-number-pill {
  margin-left: -10px;
}

.transform-table-column-list-icon {
  font-size: 1.2rem;
}

.qc-library-test-sql-editor {
  background-color: $gray-200 !important;
}
